<h1 id="title">About Me</h1>

<img id="about-me-icon" src="assets/google_picture_1_rgb.png" alt="Kneelawk's Profile Icon">

<p>
  I am a student software and electrical engineer. I love making things that make people happy, whether that be art or
  technology.
</p>

<p>
  I am currently attending the <a href="https://shoreline.edu/" target="_blank" rel="noopener"
                                  title="Shoreline Community College Website">Shoreline Community College</a> and
  working on personal projects in my free time. My favorite programming language is <a href="https://rust-lang.org/"
                                                                                       target="_blank" rel="noopener"
                                                                                       title="Rust Language Website">Rust</a>.
  My favorite anime is Madoka Magica. My favorite story is <a href="https://parahumans.wordpress.com/" target="_blank"
                                                              rel="noopener" title="Parahumans Website">Worm by
  Wildbow</a>.
</p>

<p>
  I like to write stories and run table-top RPG campaigns in a sci-fi story universe I'm builing.
</p>
