<h1 id="title">Kneelawk's Website</h1>
<p>
  Welcome to my website. This page is still under construction, but at least it says something now.
</p>
<p>
  I hope to add more things to this site in the future. I have several screen-saver programs that I think would do well
  as website backgrounds. Maybe I'll have a button to switch between them. I also think it might be interesting to build
  an online version of my <a href="https://rust-lang.org/" target="_blank" rel="noopener" title="Rust Language Website">Rust</a>-based
  fractal generator. However, I don't have a lot of time to work on projects like this at the moment, so updates will
  happen when they happen.
</p>
<p>
  This website is written using the <a href="https://angular.io/" target="_blank" rel="noopener"
                                       title="Angular Website">Angular</a> framework and hosted using Github-Pages.
  Angular is definitely over-kill for a site like this, but using it here provides a fun learning opportunity, while
  allowing me to experiment with deploying Webpack-based applications to a Github-Pages-based platform.
</p>
<p>
  If you would like to have a look at the source code for this website, feel free to check out the <a
  href="https://github.com/Kneelawk/kneelawk.github.io/" target="_blank" rel="noopener"
  title="Website Github Repository">repository on my Github</a>.
</p>
