/* Common elements */
a,a:visited {
    color: #3d7e9a;
    text-decoration: none;
}

code {
    background-color: #505050;
    color: #dedede;
    margin: 2px;
    border-radius: 2px;
}

pre {
    background-color: #505050;
    color: #dedede;
    margin: 2px;
    border-radius: 2px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

video {
    width: 100%;
}

table {
    width: 100%;
}

svg {
    display: block;
}

.text-input {
    background-color: #505050;
    box-sizing: border-box;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #757575;
    color: #c8c8c8;
    font-family: monospace;
    outline: none;
    padding: 2px;
    width: 100%;
}

.text-input:focus {
    background-color: #464646;
}

.button {
    background-color: #505050;
    border: none;
    box-sizing: border-box;
    color: #c8c8c8;
    display: block;
    font-family: monospace;
    height: 100%;
    outline: none;
    padding: 8px;
    text-align: center;
    width: 100%;
}

.button:hover {
    background-color: #464646;
}
