---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me">
    <img id="about-me-icon" src="/assets/google_picture_1_rgb.png" alt="Kneelawk's Profile Icon">

    <h1>About Me</h1>

    <p>
        I am a computer engineering student. I love making things that make people happy.
    </p>

    <p>
        I am currently attending
        <a href="https://www.uwb.edu/" target="_blank" rel="noopener"
           title="UW Bothell">UW Bothell</a>
        and working on personal projects in my free time.
    </p>

    <div class="table-container">
        <table>
            <tr>
                <td class="first">My favorite color is:</td>
                <td style="color: #099b91">Cyan!</td>
            </tr>
            <tr>
                <td class="first">My favorite programming language is:</td>
                <td><a href="https://rust-lang.org/" target="_blank" rel="noopener"
                       title="Rust Language Website">Rust</a></td>
            </tr>
            <tr>
                <td class="first">My favorite anime is:</td>
                <td><a href="https://madokamagicausa.com/" target="_blank" rel="noopener"
                       title="Madoka Magica Website">Madoka Magica</a></td>
            </tr>
            <tr>
                <td class="first">My favorite story is:</td>
                <td><a href="https://parahumans.wordpress.com/" target="_blank" rel="noopener"
                       title="Parahumans Website">Worm by Wildbow</a></td>
            </tr>
        </table>
    </div>

    <p>
        My favorite song is <a href="https://artofvengeance.bandcamp.com/track/leaving-me" target="_blank"
                               rel="noopener" title="Leaving Me by Aril Brikha">Leaving Me by Aril Brikha</a>.
    </p>
    <iframe title="Leaving Me by Aril Brikha" style="border: 0; width: 100%; height: 120px;"
            src="https://bandcamp.com/EmbeddedPlayer/album=692009086/size=large/bgcol=333333/linkcol=4ec5ec/tracklist=false/artwork=small/track=2260103616/transparent=true/"
            seamless><a href="https://artofvengeance.bandcamp.com/album/ex-machina">Ex Machina by Aril Brikha</a>
    </iframe>

    <p>
        I like to write stories and run table-top RPG campaigns in a sci-fi story universe I'm builing.
    </p>
</Layout>
<style>
    #about-me-icon {
        width: 64px;
        height: 64px;
        float: right;
        margin-left: 15px;
    }

    .table-container {
        width: 100%;
    }

    table {
        width: auto;
        border-top: #505050 solid 2px;
        border-bottom: #505050 solid 2px;
    }

    table tr td.first {
        text-align: end;
    }
</style>
