<div id="canvas-container"></div>
<script type="module" is:inline>
    import init, { start_neonet } from "/assets/neonet2.js";

    const backgroundEnabled = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("k:background")) {
            return localStorage.getItem("k:background") === "neonet";
        } else {
            return false;
        }
    })();

    let cur_flow = null;

    function render_cur_flow() {
        let flow = cur_flow;
        if (flow) {
            flow.render().then(() => {
                window.requestAnimationFrame(render_cur_flow);
            });
        }
    }

    function stop_cur_flow() {
        let flow = cur_flow;
        cur_flow = null;
        if (flow) {
            flow.free();
        }
    }

    function resize_cur_flow() {
        let width = window.innerWidth;
        let height = window.innerHeight;

        let flow = cur_flow;
        if (flow) {
            flow.resize(width, height);
        }
    }

    function start_new_flow() {
        let flow = cur_flow;
        if (flow === null) {
            init().catch(console.error).then(() => {
                // start the app
                start_neonet("canvas-container", "canvas").then((flow) => {
                    cur_flow = flow;
                    window.requestAnimationFrame(render_cur_flow);

                    // setTimeout(() => {
                    //     stop_cur_flow();
                    // }, 5000);
                });
            });
        }
    }

    if (backgroundEnabled) {
        start_new_flow();
    }

    document.addEventListener("k:background-change", (_e) => {
        const backgroundEnabled = (() => {
            if (typeof localStorage !== "undefined" && localStorage.getItem("k:background")) {
                return localStorage.getItem("k:background") === "neonet";
            } else {
                return false;
            }
        })();

        if (backgroundEnabled) {
            start_new_flow();
        } else {
            stop_cur_flow();
        }
    }, false);

    window.addEventListener("resize", resize_cur_flow);
</script>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    html {
        width: 100%;
        height: 100%;
    }

    #canvas-container {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    #canvas {
        position: fixed;
        left: 0;
        top: 0;
        display: block;
        overflow: hidden;
    }
</style>
