---

---
<ul class="topnav">
    <li><a href="/">
        <svg
                id="svg1564"
                width="24"
                height="24"
                viewBox="0 0 64 64"
                xmlns="http://www.w3.org/2000/svg"
                style="display: inline-block; vertical-align: bottom;">
            <path
                    style="fill:#59b4dc;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
                    d="M 44.470767,39.199999 31.999999,46.399997 19.529234,39.199999 19.529233,24.8 31.999999,17.6 44.470767,24.8 Z"
                    id="path992"/>
            <path
                    style="fill:#59b4dc;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
                    d="m 47.242049,55.199999 -2e-6,-32.000001 L 34.771279,16 47.242047,8.8000008 59.712812,16 v 31.999999 z"
                    id="path994"/>
            <path
                    style="fill:#59b4dc;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
                    d="M 44.470764,7.2000006 16.757952,23.2 16.757951,37.599998 4.2871852,30.4 4.2871858,16.000001 31.999999,7.1211235e-7 Z"
                    id="path996"/>
            <path
                    style="fill:#59b4dc;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
                    d="M 4.2871852,47.999999 4.287185,33.600001 31.999999,49.599998 44.470767,42.4 v 14.399998 l -12.470768,7.199998 z"
                    id="path998"/>
        </svg>
        <span class="homelink">Kneelawk.com</span>
    </a></li>
    <li><a href="/about-me/"><span>About Me</span></a></li>
    <li><a aria-label="Kneelawk's maven repository" target="_blank" title="Maven"
           href="https://maven.kneelawk.com/"><span>Maven</span></a></li>
    <li class="filler"></li>
    <li>
        <label class="checkbox-outer" title="Enable Background">
            <input type="checkbox" id="background-enable"/>
            <span class="checkbox-inner"><span></span></span>
        </label>
    </li>
    <li class="socials">
        <a aria-label="Kneelawk on discord" target="_blank" rel="noopener"
           href="https://discord.gg/6vgpHcKmxg" title="Discord">
            <svg id="discord-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -28.5 256 256">
                <path
                        d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z"
                        style="fill:#59b4dc;fill-opacity:1;stroke-width:0"/>
            </svg>
        </a>
        <a aria-label="Kneelawk on github" target="_blank" rel="noopener"
           href="https://github.com/Kneelawk" title="Github">
            <svg
                    id="github-logo"
                    width="24"
                    height="24"
                    xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M 11.998895,0 C 5.3725405,0 0,5.372541 0,12.000369 c 0,5.30182 3.4380428,9.799196 8.2065134,11.386721 0.6003868,0.109764 0.819178,-0.260781 0.819178,-0.579023 0,-0.284355 -0.010313,-1.039442 -0.016207,-2.040578 C 5.6716289,21.492373 4.9673715,19.1586 4.9673715,19.1586 4.4214984,17.772185 3.634734,17.403113 3.634734,17.403113 c -1.0895362,-0.744037 0.082507,-0.729304 0.082507,-0.729304 1.2044569,0.08472 1.8379938,1.23687 1.8379938,1.23687 1.0703828,1.833574 2.8089261,1.303908 3.4925566,0.996716 0.1090273,-0.774978 0.4184291,-1.303908 0.7617177,-1.603732 -2.6645386,-0.302772 -5.4660979,-1.332638 -5.4660979,-5.930938 0,-1.309801 0.467786,-2.38092 1.2353971,-3.219988 C 5.4550477,7.849228 5.0432486,6.629301 5.695939,4.976949 c 0,0 1.0077658,-0.322662 3.3002856,1.23024 C 9.95316,5.940514 10.980079,5.807913 12.000368,5.803493 c 1.018816,0.0044 2.045735,0.137021 3.004144,0.403696 2.291046,-1.552902 3.296602,-1.23024 3.296602,-1.23024 0.654901,1.652352 0.243102,2.872279 0.119341,3.175788 0.769084,0.839068 1.233924,1.910187 1.233924,3.219988 0,4.610086 -2.80598,5.624482 -5.479358,5.921361 0.430952,0.370545 0.814758,1.102796 0.814758,2.222536 0,1.603732 -0.01473,2.898063 -0.01473,3.291445 0,0.321189 0.215845,0.694681 0.825072,0.57755 C 20.564904,21.795145 24,17.300716 24,12.000369 24,5.372541 18.626723,0 11.998895,0"
                        style="fill:#59b4dc;fill-opacity:1;stroke-width:0"
                        id="path196"/>
            </svg>
        </a>
        <a aria-label="Kneelawk on mastodon" target="_blank" rel="noopener"
           href="https://blobfox.coffee/@kneelawk" title="Mastodon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-mastodon"
                 viewBox="0 0 16 16">
                <path
                        d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"
                        style="fill:#59b4dc;fill-opacity:1;stroke-width:0"/>
            </svg>
        </a>
        <a aria-label="Kneelawk on cohost" target="_blank" rel="noopener"
           href="https://cohost.org/kneelawk" title="Cohost">
            <svg width="24" height="24" viewBox="0 0 177.222 177.222" xmlns="http://www.w3.org/2000/svg">
                <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="m 142.81342,131.09215 c -11.109,6.80298 -23.91699,12.14896 -38.42399,16.03594 -16.112086,4.31699 -31.298075,6.04798 -45.558266,5.19198 C 44.571071,151.46408 32.421678,147.74409 22.382884,141.16011 12.34409,134.57614 5.5758339,124.75717 2.0781759,111.70341 -1.4395519,98.575252 -0.49251467,86.669193 4.9192944,75.985128 10.331091,65.301166 19.007786,56.060796 30.949479,48.264122 42.891172,40.46735 56.917965,34.410389 73.029855,30.093273 c 16.03729,-4.297175 31.162575,-6.031454 45.375575,-5.20285 9.54899,0.55676 18.16199,2.40187 25.83999,5.535319 3.74898,1.530305 7.27498,3.367869 10.57799,5.512722 10.06599,6.536778 16.84798,16.331943 20.34599,29.3855 3.49699,13.053556 2.527,24.946014 -2.91201,35.677286 -0.75999,1.49919 -1.58299,2.97028 -2.469,4.41408 -0.626,-2.81869 -1.88299,-5.27638 -3.77099,-7.373079 -0.92701,-1.029397 -1.957,-1.97459 -3.09199,-2.835785 -2.323,-1.763394 -5.081,-3.174292 -8.274,-4.232689 -4.75399,-1.575293 -10.04999,-2.362892 -15.889,-2.362892 -5.86699,0 -11.18299,0.780799 -15.94999,2.342494 -4.76699,1.561792 -8.55599,3.911084 -11.36699,7.048072 -2.811,3.136999 -4.216,7.095579 -4.216,11.875759 0,4.75309 1.405,8.70478 4.216,11.85537 2.811,3.15059 6.6,5.52058 11.36699,7.10957 4.767,1.588 10.083,2.383 15.94999,2.383 1.38,0 2.73,-0.044 4.05101,-0.133 z m -50.819577,-8.46328 c -1.113599,1.1951 -3.0759,2.4643 -5.886996,3.8093 -2.811098,1.34399 -6.199295,2.47798 -10.164694,3.40198 -3.965399,0.923 -8.229497,1.385 -12.792491,1.385 -3.992498,0 -7.903596,-0.387 -11.733193,-1.161 -3.829499,-0.774 -7.292495,-2.003 -10.388695,-3.68699 -3.096301,-1.68399 -5.561099,-3.88408 -7.394396,-6.60007 -1.833301,-2.716 -2.749999,-6.01599 -2.749999,-9.89988 0,-3.93818 0.916698,-7.26527 2.749999,-9.981364 1.833297,-2.715988 4.298095,-4.90238 7.394396,-6.559076 3.0962,-1.656794 6.559196,-2.858691 10.388695,-3.605588 3.829597,-0.746897 7.740695,-1.120297 11.733193,-1.120297 4.590097,0 8.827092,0.407397 12.710989,1.222197 3.883901,0.814796 7.217798,1.880792 10.001698,3.198086 2.783995,1.317298 4.800594,2.72279 6.049995,4.216586 L 81.48285,104.09204 c -1.520997,-1.6567 -3.8296,-2.9807 -6.925897,-3.97209 -3.096198,-0.991298 -6.857895,-1.486996 -11.284994,-1.486996 -2.172796,0 -4.365997,0.169811 -6.579593,0.509195 -2.2136,0.339593 -4.243799,0.916701 -6.090699,1.731491 -1.846796,0.8148 -3.333896,1.9555 -4.460996,3.42219 -1.127199,1.4666 -1.6908,3.32709 -1.6908,5.58138 0,2.2271 0.563601,4.06729 1.6908,5.52029 1.1271,1.45309 2.6142,2.60739 4.460996,3.46289 1.8469,0.8556 3.877099,1.45989 6.090699,1.813 2.213596,0.35308 4.406797,0.52959 6.579593,0.52959 4.3456,0 8.114097,-0.5432 11.305397,-1.62959 3.191294,-1.0864 5.438793,-2.3358 6.742494,-3.7481 z m 46.768567,-1.58889 c 5.676,0 10.076,-1.01849 13.2,-3.05549 3.12299,-2.037 4.685,-4.73939 4.685,-8.10728 0,-3.44938 -1.569,-6.15858 -4.70601,-8.12767 -3.13699,-1.969092 -7.52999,-2.953693 -13.17899,-2.953693 -5.67699,0 -10.09699,0.984601 -13.26099,2.953693 -3.164,1.96909 -4.746,4.67829 -4.746,8.12767 0,3.42219 1.582,6.13819 4.746,8.14808 3.164,2.0098 7.584,3.01469 13.26099,3.01469 z"
                        style="fill:#59b4dc;fill-opacity:1;stroke-width:0"/>
            </svg>
        </a>
        <a aria-label="Kneelawk on ko-fi" target="_blank" rel="noopener"
           href="https://ko-fi.com/kneelawk" title="Ko-Fi">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M23.881 8.948c-.773-4.085-4.859-4.593-4.859-4.593H.723c-.604 0-.679.798-.679.798s-.082 7.324-.022 11.822c.164 2.424 2.586 2.672 2.586 2.672s8.267-.023 11.966-.049c2.438-.426 2.683-2.566 2.658-3.734 4.352.24 7.422-2.831 6.649-6.916zm-11.062 3.511c-1.246 1.453-4.011 3.976-4.011 3.976s-.121.119-.31.023c-.076-.057-.108-.09-.108-.09-.443-.441-3.368-3.049-4.034-3.954-.709-.965-1.041-2.7-.091-3.71.951-1.01 3.005-1.086 4.363.407 0 0 1.565-1.782 3.468-.963 1.904.82 1.832 3.011.723 4.311zm6.173.478c-.928.116-1.682.028-1.682.028V7.284h1.77s1.971.551 1.971 2.638c0 1.913-.985 2.667-2.059 3.015z"
                        style="fill:#59b4dc;fill-opacity:1;stroke-width:0"/>
            </svg>
        </a>
    </li>
</ul>
<script>
    interface Checkbox extends HTMLElement {
        checked: boolean;
    }

    const backgroundEnabled = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("k:background")) {
            return localStorage.getItem("k:background") === "neonet";
        } else {
            return false;
        }
    })();

    const checkbox = document.getElementById("background-enable") as Checkbox;
    checkbox.checked = backgroundEnabled;

    window.localStorage.setItem("k:background", backgroundEnabled ? "neonet" : "none");

    const handleCheckClick = () => {
        const elem = document.getElementById("background-enable") as Checkbox;
        const backgroundType = elem.checked ? "neonet" : "none";
        localStorage.setItem("k:background", backgroundType);

        const event = new Event("k:background-change");
        document.dispatchEvent(event);
    };

    document.getElementById("background-enable").addEventListener("click", handleCheckClick);
</script>
<style>
    ul.topnav {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #505050;
    }

    .filler {
        flex: 1;
    }

    ul.topnav li {
        display: flex;
        justify-content: end;
    }

    ul.topnav li a {
        background-color: #505050;
        box-sizing: border-box;
        display: block;
        height: 100%;
        padding: 8px;
        line-height: 24px;
        font-size: 16px;
    }

    ul.topnav li:not(.socials) a {
        width: 100%;
    }

    ul.topnav li a:hover:not(.active) {
        background-color: #464646;
    }

    ul.topnav li a.active {
        background-color: #dedede;
    }

    ul.topnav li a span.homelink {
        margin-left: 6px;
    }

    .checkbox-outer {
        width: 40px;
        height: 40px;
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    .checkbox-outer input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        cursor: pointer;
    }

    .checkbox-inner {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 24px;
        height: 24px;
        border: 2px solid #59b4dc;
        background-color: #505050;
    }

    .checkbox-outer:hover input ~ .checkbox-inner {
        background-color: #464646;
    }

    .checkbox-inner span {
        display: block;
        margin: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
    }

    .checkbox-outer input:checked ~ .checkbox-inner span {
        background-color: #59b4dc;
    }

    @media screen and (max-width: 600px) {
        ul.topnav {
            flex-direction: column;
        }

        ul.topnav li a span:not(.homelink) {
            margin-left: 30px;
        }
    }
</style>
