---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kneelawk's Website">
    <h1>Kneelawk's Website</h1>
    <p>
        Hello! I'm Kneelawk. Some of you may know me as Cyan. I make things and I hope people enjoy them!
    </p>
</Layout>
