/* Page rendering details */
body {
  background-color: #282828;
  color: #c8c8c8;
  font-family: monospace;
  margin: 0;
}

.content-1 {
  background-color: #3c3c3c;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.content-2 {
  padding: 15px;
}

/* Common elements */
a,a:visited {
  color: #3d7e9a;
  text-decoration: none;
}

code {
  background-color: #505050;
  color: #dedede;
  margin: 2px;
  border-radius: 2px;
}

pre {
  background-color: #505050;
  color: #dedede;
  margin: 2px;
  border-radius: 2px;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

video {
  width: 100%;
}

table {
  width: 100%;
}

svg {
  display: block;
}

.text-input {
  background-color: #505050;
  box-sizing: border-box;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #757575;
  color: #c8c8c8;
  font-family: monospace;
  outline: none;
  padding: 2px;
  width: 100%;
}

.text-input:focus {
  background-color: #464646;
}

.button {
  background-color: #505050;
  border: none;
  box-sizing: border-box;
  color: #c8c8c8;
  display: block;
  font-family: monospace;
  height: 100%;
  outline: none;
  padding: 8px;
  text-align: center;
  width: 100%;
}

.button:hover {
  background-color: #464646;
}

/* Menu bar */
ul.menubar {
  background-color: #505050;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filler {
  flex: 1;
}

.search-input {
  background-color: #555555;
  padding: 8px;
  height: 100%;
}

.menulink {
  background-color: #505050;
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 8px;
  line-height: 24px;
  font-size: 16px;
}

a.menulink:hover {
  background-color: #464646;
}

a.search-menulink {
  background-color: #555555;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #757575;
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 8px;
}

a.search-menulink:hover {
  background-color: #464646;
}

/* Directory Listings */
ul.directory {
  display: flex;
  flex-direction: column;
  gap: 2px;
  list-style-type: none;
  padding-left: 0;
}

a.listing {
  display: block;
  padding: 5px;
}

a.listing:hover {
  background-color: #464646;
}

/* Specific elements */
#title {
  text-align: center;
}

pre.maven {
  padding: 10px;
}
