<p>Path: <code>{{ displayPath }}</code></p>

<div *ngIf="parent">
  <a class="listing" [routerLink]="'.'" [fragment]="parent.path">Back to {{parent.name}}</a>
</div>

<div *ngIf="display.kind == 'loading'">
  <h1>Loading...</h1>
</div>

<div *ngIf="display.kind == 'error'">
  <h1>Error Loading</h1>
</div>

<div *ngIf="display.kind == 'loaded'">
  <h1>{{ asLoaded(display).index.name }}</h1>
  <div *ngIf="asLoaded(display).maven as maven">
    You can include this dependency in your build with:
    <pre class="maven">{{ maven.group }}:{{ maven.artifact }}:{{ maven.version }}</pre>
  </div>
  <h2>Contents:</h2>
  <ul class="directory">
    <li *ngFor="let child of asLoaded(display).index.children">
      <a class="listing" *ngIf="child.type == 'directory'" [routerLink]="'.'"
         [fragment]="child.path">{{ child.name }}</a>
      <a class="listing" *ngIf="child.type == 'file'" [href]="'/maven/' + child.path">{{ child.name }}</a>
    </li>
  </ul>
</div>
